@model TODoList.Models.Tassk

<div class="card" style="width: 18rem;">
    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Date</li>
        <li class="list-group-item">@Model.Status</li>
        <li class="list-group-item">@Model.IsDone</li>
    </ul>
    <div class="card-body">
        <a href="/Task/Edit/@Model.Id" class="card-link">Edit</a>
        <a href="/Task/GetAll" class="card-link">Back to List</a>
    </div>
</div>